
$varianble : cosa1;
.blanco{
    background-color: white;
}


.padre{
display: flex;
background-color: rgb(253, 255, 255);
font-size: 140%;
margin-top: 100px;
position: fixed;
}

.negro{
    background-color: rgb(1, 32, 3);
}

.letrasdark{
    color: white;
    justify-content: center;
}

.mode{
    background-color: rgb(1, 41, 29);
}

.sobremi{
    margin-left: 20px;
    margin-right: 0px;
    flex-wrap: wrap;
    justify-content: center;
}

.picture{
    width: 200px;
    border-radius: 20%;
    height: 200px;
    display: flex;
 
   
}

.proye{
    list-style: none;

}

.proyeh2{
    margin-left: 5px;
    text-align: center;
    margin: auto;
}


.proyePhone{
    display: none;
}

.proyePhone2{
    display: none;
}

.proyePhone3{
    display: none;
}


.pictureAlmacen{
    width: 150px;
    height: 150px;
    border-radius: 40%;
    margin-left: 50px;
    border: 2px solid rgb(11, 104, 11);
    box-shadow: 2px 2px rgb(25, 175, 163);
}

.letras{
    width: 100%;
    justify-content: center;
    color: black;
    font-family: -apple-system;
}

.espacio{
    width: 40%;
    padding: 50px;
    margin-left: 20px;
}

.tecnologias{
    flex-direction: column;
    box-shadow:  1px 0px  40px  rgb(77, 77, 77);
    height: 800px;
    animation-name:mymove2;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(1.75, 4.82, 3.165, 5);
    padding: auto;
    color: rgb(224, 178, 24);
    animation-iteration-count:1;
    position: relative;
}


    .te{
        text-align: center;
        font-size: 140%;
    }



.lista-div{
 top: 0;
margin: 30px;

}

.tecnologias2{
    display: none;
}

.cosa1 , .cosa2 , .cosa3 , .cosa4 , .cosa5{
    width: 90px;

}

.lista-div::after{
}


.cosa1:hover{
    content: "cosita";
    animation-name: agrandar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.cosa2:hover{
    animation-name: agrandar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.cosa3:hover{
    animation-name: agrandar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.cosa4:hover{
    animation-name: agrandar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


.cosa5:hover{
    animation-name: agrandar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}





.square{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.square2{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
    box-shadow:  1px 1px  10px 10px rgb(30, 145, 139);

    animation-name: mymove;
    position: relative;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes mymove{
    0% {top: 0%; left: 0%; color: transparent;}

    25%{top: 0%; left: 100%; color:rgb(224, 178, 24) ;}

}
@keyframes agrandar{
    0% {width: 90px;}


    50%{width: 110px;}

    100%{width: 100px;}


}
@keyframes mymove2{ 0% {top: 0%; left: 100%; color: transparent }  25%{top: 100%; left: 0%; color:rgb(224, 178, 24) }}
