



    @media(max-width:540px){ 
        .padre{
            display: grid;
            grid-template-columns: 1fr ;
           padding-bottom: 10px;
           position:relative;
         
         
        }

        .letrasdark{
            color: white;
            justify-content: center;
        }
        
        .marco{
        
            text-align: center;
            flex-direction: column;
        }
        
       
        .picture{
            margin: auto;
            margin-top: 5px;
            border: 2px solid rgb(11, 104, 11);
            box-shadow: 2px 2px rgb(25, 175, 163);
            width: 200px;
            height: 200px;
            border-radius: 20%;
            text-align: center;
        }

        

        .pictureAlmacen{
            border: 2px solid rgb(11, 104, 11);
            margin: auto;
            justify-content: center;
            box-shadow: 2px 2px rgb(25, 175, 163);
        }

        

        .proye{
            list-style: none;
            margin: auto;
            display: none;
            
        }

        .proyeh2{
            display: none;
            margin-left: 5px;
            text-align: center;
        }

        .proyePhone{
            display: flex;
            justify-content: center;
            text-align: center;
            
        }

        .proyePhone2{
            display: flex;
            justify-content: center;
            text-align: center;
            
        }

        .proyePhone3{
            display:flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            margin: auto;
          
        }

        
        
        
        .square{
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background-color: black;
            animation-name: move;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
        
        
        .square2{
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background-color: black;
            box-shadow:  1px 1px  10px 10px rgb(30, 145, 139);
        
            animation-name: mymove;
            position: relative;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }
        
        @keyframes mymove{
            0% {top: 0px; left: 0px;}
        
            25%{top: 0px; left: 97%;}
        
            50%{top: 96%; left: 97%;}
        
            75%{top: 96%; left: 0px;}
        
            100%{top: 0px; left: 0px;}
        
        }
        
        
       
        
        .sobremi{
            text-align: center;
            flex-wrap: wrap;
            justify-content: center;
            margin-right:20px ;
           
        }


        
       
        .letras{
            width: 100%;
            justify-content: center;
          
        }
        
        
      
        
        .tecnologias{
            box-shadow:  1px 1px  10px 10px rgb(30, 145, 139);
            display: grid;
        
            animation-name:mymove2;
            animation-duration: 5s;
                
            animation-timing-function: cubic-bezier(0.075, 0.82, 1.165, 1);
            color: rgb(224, 178, 24);
            animation-iteration-count:1;
            position: relative;
            margin-bottom: 40px;
            display: none;
          
           
        }

        .tecnologias2{
            display: grid;
           
        }

        .tecnologias h1{
            font-size: 100%;
            text-align: center;
        }

        .lista-div{
           
            display: flex;
            flex-direction: row;
           justify-content: center;
           margin-bottom: 70px;
          
            
        }

    

        

     
        
          @keyframes mymove2{ 0% {top: 100%; left: 0%; color: transparent }  25%{top: 0%; left: 0%; color:rgb(224, 178, 24) }}
        
        
    }        
    