



    @media(max-width:540px){ 
        .padre{
            display: grid;
            grid-template-columns: 1fr ;
           padding-bottom: 10px;
         
        }
        
        
       
        
     
        
        
        
        .square{
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background-color: black;
            animation-name: move;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
        
        
        .square2{
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background-color: black;
            box-shadow:  1px 1px  10px 10px rgb(30, 145, 139);
        
            animation-name: mymove;
            position: relative;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }
        
        @keyframes mymove{
            0% {top: 0px; left: 0px;}
        
            25%{top: 0px; left: 97%;}
        
            50%{top: 96%; left: 97%;}
        
            75%{top: 96%; left: 0px;}
        
            100%{top: 0px; left: 0px;}
        
        }
        
        
       
        
        .sobremi{
            text-align: center;
          
           
        }
        .letras{
            width: 100%;
            justify-content: center;
            color: black;
        }
        
        
      
        
        .tecnologias{
            box-shadow:  1px 1px  10px 10px rgb(30, 145, 139);
            flex-direction:column;
            animation-name:mymove2;
            animation-duration: 5s;
                
            animation-timing-function: cubic-bezier(0.075, 0.82, 1.165, 1);
            color: rgb(224, 178, 24);
            animation-iteration-count:1;
            position: relative;
            margin-bottom: 40px;
           
        }

        .lista-div{
            position: relative;
        }
        
          @keyframes mymove2{ 0% {top: 100%; left: 0%; color: transparent }  25%{top: 0%; left: 0%; color:rgb(224, 178, 24) }}
        
        
    }        
    