@media(max-width:540px){
    



.f{
    max-width: 100%;
    background-color: rgb(67, 136, 121);
    display: flex;
 
}



.fre{
    background-color: rgb(67, 136, 121);
    display: block;
    width: 100%;
 


 
}




.fre .header-icon{
    display: flex;
    background-color: cadetblue;
    width: 100%;
}

.fre .header-icon .icons{
width: 300px;
height: auto;
display: flex;
justify-items: flex-end;
align-items:center;
justify-self:end;
margin-left: 20px;
}



a{
    text-decoration: none;
    display: inline;
    color: black;
}

.logo-link{
   width: 25%;
}







.na{
    display: flex;
   
    height: 90px;
}

nav .logo-container{
    margin-left: 0px;
}

nav .logo-container img{
    width: 200px;
   
}

nav .profile{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 100%;
}



}